.Wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.BaseMap{
    z-index: -1;
}

.Button1{
    width: 10%;
    height: 26%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.Button2{
    width: 10%;
    height: 17%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}

.Button3{
    width: 10%;
    height: 8%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 6;
}